html
    head
        title Flappy Drone

        //link(rel='stylesheet', href='/css/index.css')
        //script(src='/js/index.js')

    body

        // header
        include header

        // content
        .content

        // footer
        include footer
